<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>Chat Box</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<h1>{{ output }}</h1>
	<!doctype html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Live Chat</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	</head>

	<body>
		<div id="live-chat">
			<header class="clearfix">	<a href="#" class="chat-close">x</a>
				<h4>STRAPBOT Help</h4>
				<span class="chat-message-counter">3</span>
			</header>
			<div class="chat">
				<div class="chat-history">
					<div class="chat-message clearfix" id="message_container">
			 			{% if user_input %}
			 			<div class="chat-message-content clearfix">	<span class="chat-time">13:37</span>
			 				<h5> You </h5>
			 				<p>  {{ user_input }} </p>
			 			</div>
			 			{% endif %}

			 			{% if bot_response %}
			 			<div class="chat-message-content clearfix">	<span class="chat-time">13:37</span>
			 				<h5 style="color:#003399"> Bot Reply </h5>
			 				<p>  {{ bot_response }} </p>
			 			</div>
			 			{% endif %}
			 			<!-- end chat-message-content -->
			 		</div>
				</div>
				<!-- end chat-history -->
				<!-- <p class="chat-feedback">Your partner is typing…</p> -->
				<form action="{% url 'chat' %}" method="post" id = "chatForm">
					{% csrf_token %}
					<fieldset>
						<input type="text" placeholder="Type your message…" autofocus name="user_input" id="user_input">
						<!-- <input type="hidden"> -->
					</fieldset>
				</form>
			</div>
			<!-- end chat -->
		</div>
		<!-- end live-chat -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	</body>

	</html>
	<script src="{% static 'js/index.js' %}"></script>

	<script type="text/javascript">
		
		$(document).on('submit','#chatForm',function (e) {
			e.preventDefault();

			$.ajax({
				type:'POST',
				url:'/chat/',
				data:{
					user_input:$('#user_input').val(),
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
				},

				success:function(response){
					$("#message_container").append(response.user_input);
					$("#message_container").append(response.bot_response);
				}
			})
		});

	</script>
</body>

</html>